
body,html{
    padding:0px;
    margin:0px;
   
}

body{
    background-color: #fff;
    font-family: "Underdog", system-ui;
    color :white;
}

header{
    text-align:center;
    background-color: orange;
    font-size:70px;
    
}

header .pfp{
    border:10px solid #fff;
    border-radius:50%;
    height:300px;
    width:300px;
    background-image:url('');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    margin:0 auto;

}

header img{
    border:10px solid #fff;
    border-radius:50%;
    height:300px;
    width:300px;
    margin-top:20px;
    margin-bottom:0px;
}

header h1{
    margin-top:0px;
}
main {
    width:800px;
    margin : 0 auto;
    color:black;
    text-align: center;
}
main .friends{
    width:600px;
    height:300px;
}

main .description{
    
    text-align: center;
}

main ol{
    list-style:none;
}
main ul li{
    list-style: none;
   
}